/* ===============================页脚=============================== */

.footer-content {
    padding: 30px 0;
    color: white;
    background-color: #333;
}

.footer-content dl {
    padding-left: 50px;
}

.footer-content dd {
    padding: 10px 0;
}

.footer-content dd a {
    color: white;
}

.share h3 {
    text-align: center;
}

#share-accordion .share-box {
    background-color: inherit;
    text-align: center;
}

.share-box img {
    width: 128px;
    height: 128px;
}

.copyright {
    padding: 20px 0;
    font-size: 12px;
    text-align: center;
    color: gray;
    background-color: #222;
}
