<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.UserMapper">
	<!-- 这里namespace必须是UserMapper接口的路径” -->
	<insert id="insertUser" parameterType="User">
		INSERT INTO `user` (`id`, `username`, `password`, `sex`, `name`, `birthday`) VALUES (NULL, ?, ?, ?, ?, ?)
	</insert>
	<!-- 这里的id必须和UserMapper接口中的接口方法名相同 -->
	<select id="getUser" resultType="User" parameterType="java.lang.String">
		select *
		from users where id=#{id}
	</select>
</mapper>  