@charset "UTF-8";

body {
    background-color: cornflowerblue;
}

.login {
    width: 50%;
    height: 300px;
    margin: 50px auto;
    background-color: sandybrown;
    margin: 50px auto;
    padding: 20px 20px;
}

.login-box {
    position: absolute;
    top: 30%;
    left: 40%;
}