@charset "UTF-8";

body {
    background-image: url("/images/bg1.jpg");
    background-size: cover;
    background-position: 0 0;
    background-repeat: repeat-x;
    animation: animatedBackground 1s linear infinite;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

.header .title {
    color: white;
}

.header .title h1 {
    font-size: 3em;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.login-register-box {
    padding: 50px;
    color: white;
    background-color: inherit;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form {
    margin-top: 50px;
}

