@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: cornflowerblue;
}

.login {
    width: 30%;
    height: 500px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: sandybrown;
    overflow: hidden;
}

.login-box {
    width: 80%;
    height: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
}

.login-title {
    width: 80%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    background-color: green;
}

.login-tip {
    width: 80%;
    height: 30px;
    text-align: center;
    color: red;
    margin: 0 auto;
    background-color: aqua;
}

.attributes-name {
    font-size: 28px;
}

.input {
    width: 80%;
    height: 30px;
    margin: 0 auto;
}

.login-button-box {
    width: 100%;
    height: 100px;
    text-align: center;
}

.login-button {
    width: 150px;
    height: 60px;
    font-size: 20px;
    font-weight: bolder;
}