mysql.driver=com.mysql.cj.jdbc.Driver
mysql.url=localhost:3306/databaseName
mysql.user=Your database username
mysql.password=Your database password
mysql.zeroDateTimeBehavior=convertToNull
mySql.useUnicode=true
mySql.characterEncoding=UTF-8
mysql.serverTimezone=Asia/Chongqing
mysql.useSSL=true